textarea.ip{
    height: 100%;
    width: 100%;
    margin: 10px;
}
.btn-group{
    margin: 10px;
}
.container-fluid{
    height: 700px;
}
#tainput{
    height: 700px;
    margin-top: 0;
}
/* .row.hundred,
.col-sm.hundred,
.form-group.hundred,
.form-control.hundred{
    height: 100%;
} */